# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [4]:
# Run this code:
salaries = pd.read_csv('https://raw.githubusercontent.com/RamiSaad93/lab-hypothesis-testing-extra/refs/heads/main/data/Current_Employee_Names__Salaries__and_Position_Titles.csv')
salaries

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
...,...,...,...,...,...,...,...,...
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [5]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [6]:
salaries.columns

Index(['Name', 'Job Titles', 'Department', 'Full or Part-Time',
       'Salary or Hourly', 'Typical Hours', 'Annual Salary', 'Hourly Rate'],
      dtype='object')

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [12]:
salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate'].isna().sum()

0

In [10]:
import numpy as np
from scipy.stats import ttest_1samp

hourly_wages = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']

t_stat, p_value = ttest_1samp(hourly_wages, 30, alternative = 'two-sided')

print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: Mean hourly wage is significantly different from $30/hr.")
else:
    print("Fail to reject the null hypothesis: No significant difference from $30/hr.")

T-statistic: 20.6198057854942
P-value: 4.3230240486229894e-92
Reject the null hypothesis: Mean hourly wage is significantly different from $30/hr.

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [31]:
import numpy as np
import scipy.stats as stats

confidence_level = 0.95
sample_size = len(salaries[salaries['Salary or Hourly'] == 'Hourly'])
sample_mean = sum(salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']) / sample_size
print("The sample size is:",sample_size)
print("The sample mean is:", sample_mean)

se = stats.sem((salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']), axis=0, ddof=1, nan_policy='propagate')
confidence_interval = stats.t.interval(
    confidence_level,
    df=sample_size-1,
    loc=sample_mean,
    scale=se # standard error
)
print("The confidence intervals are:",confidence_interval)

The sample size is: 8022
The sample mean is: 32.78855771628128
The confidence intervals are: (32.52345834488529, 33.05365708767727)

In [25]:
# Different way of calculating ample Standard Deviation

In [33]:
import numpy as np
import scipy.stats as stats

confidence_level = 0.95
sample_size = len(salaries[salaries['Salary or Hourly'] == 'Hourly'])
sample_mean = sum(salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']) / sample_size
sample_std_dev = np.std((salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']), ddof=1)
print("The sample size is:",sample_size)
print("The sample mean is:", sample_mean)


confidence_interval = stats.t.interval(
    confidence_level,
    df    = sample_size-1,
    loc   = sample_mean,
    scale = sample_std_dev / np.sqrt(sample_size)
)
print("The confidence intervals are:",confidence_interval)

The sample size is: 8022
The sample mean is: 32.78855771628128
The confidence intervals are: (32.52345834488529, 33.05365708767727)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [35]:
from statsmodels.stats.proportion import proportions_ztest

#H0 The proportion of hourly workers in the City of Chicago == 0.25
#H1 The proportion of hourly workers in the City of Chicago != 0.25

# Count of conversions (successes)
count_of_hourly = len(salaries[salaries['Salary or Hourly'] == 'Hourly'])

# Number of observations (trials)
count_of_total = len(salaries)

# One-tailed Z-test for proportions
z_stat, p_value = proportions_ztest(count = count_of_hourly, nobs = count_of_total, value = 0.25)

print(f"Z-statistic: {z_stat}")
print(f"P-value: {p_value}")

# Significance level
alpha = 0.05

if p_value < alpha:
    print("Reject H0: Proportion of hourly workers is significantly different from 25%.")
else:
    print("Fail to reject H0: No significant difference from 25%.")

Z-statistic: -3.5099964213703005
P-value: 0.0004481127249057967
Reject H0: Proportion of hourly workers is significantly different from 25%.